div#aboutModal(class="modal fade", tabindex="-1", role="dialog", aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
        h4(class="modal-title") About
      div(class="modal-body")
        p.
          We all know there is tons of delicious food available in Mexico City. The problem is, most of the places selling this food are too small or too temporary to appear on google maps.
        p.
          This site tries to solve that problem as simply as possible, but getting users like you to record where you have eaten. Hopefully, together we can figure out what's good around here.
