.navbar.navbar-inverse
  .container
    .navbar-header
      .navbar-brand WhatsGood

    ul.nav.navbar-nav
      li
        a(href="#", data-toggle="modal", data-target="#aboutModal") About

    ul.nav.navbar-nav.navbar-right
      // [START profile]
      if profile
        li
          if profile.image
            img.img-circle(src=profile.image.url, width=30)
        li
          a(href="#", data-toggle="modal", data-target="#profileModal") #{session.username}
        li
          a(href=logout) (logout)
      else
        li
          a(href=login) Login
      // [END profile]
